<div class="my-nav">
    <app-navbar></app-navbar>
  </div>
  <div class="container-fluid whole">
  
    <div class="row h-100">
  
      <div class="my-profile col-3 ">
        <div class="container-fluid  profile-info">
          <div class="row">
            <div class="col-12" style=" margin-top: -30px;">
              <div class="card rounded-4 ">
                <!-- <div class="card-header fw-bolder rounded-2 my-card-head mb-2 mt-1">
                    My Profile
                  </div> -->
  
                  <label for="profilePic" class="d-flex justify-content-center">
                  <img  style="margin-top: 20px; cursor: pointer;"
                  class="card-img-top img-fluid img-thumbnail my-dp rounded-circle border-primary-subtle border-3"
                  height="30" width="30" [src]="profileData.image" alt="no image">
                </label>
                <input type="file" id="profilePic" (change)="changeProfilePic($event)" hidden>
                <div class="card-body">
                  <h4 class="card-title text-center">{{profileData.firstName}} {{profileData.lastName}}</h4>
  
                  <p class="card-text text-center">{{profileData.jobTitle}}</p> 
                  <p class="card-text text-center">{{profileData.location}}</p>
  
                  <a href="" class="btn btn-outline-primary col-12 rounded-pill blink" [routerLink]="['/profile']">Full
                    Profile</a>
                  <!-- <a href="" class="mt-2 btn btn-outline-primary col-12 rounded-pill" [routerLink]="['/']" >Log Out</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="posts h-100  overflow-y-auto col-12 col-md-8 col-xl-6 offset-xl-0 offset-md-2 col-6 p-2">
  
  
  
      
  
       
  
            <div class="card  flex-column justify-content-evenly mx-1 rounded-4" style="padding: 10px;">
              <div class="d-flex align-items-center justify-content-around gap-2">
                <img class="rounded-circle" height="45" width="45" [src]="profileData.image"
                  alt="not available">
  
                <input class="rounded-pill searchbar" type="text" [(ngModel)]="content"  placeholder=" Write here...">
  
                <label for="imageInput"><i class="bi bi-image-alt image-icon"></i></label>
                <input type="file" id="imageInput" (change)="onImageChange($event)" hidden>
  
             
  
                <div class="d-flex gap-4" style="margin-left: 5px;">
                  <button class="btn  btn-primary global-btn-color rounded-pill p-2" (click)="post()">Post</button>
  
                </div>
              </div>
  
            </div> 
  
          <div class="card-body p-1" style="padding: 1px;">
  
            <div class="card d-flex flex-column justify-content-evenly col-sm-12 gap-2 my-3 p-2 rounded-4" *ngFor="let p of allPosts ; index as i">
              <div class="card-header">
                <div class="d-flex align-items-center gap-2">
                  <img class="rounded-circle" height="35" width="35" [src]="allUsers[i].image"
                    alt="not available">
                  <p class="fw-bolder m-0">{{allUsers[i].firstName}} {{allUsers[i].lastName}}</p>
  
                
  
                </div>
              </div>
  
              <div class="card-body">
                <p class="card-text">{{p.content}}</p>
  
  
               <img [src]="p.imageUrl" class="card-img rounded-4" alt="">
  
              </div>
  
         
  
            </div>
  
  
          </div>
  
  
  
     
  
  
  
  
      </div>
  
      <div class="requests col-3 ">
  
        <div class="mt-1">
  
            <div class="card fr-request overflow-y-auto rounded-4 p-1">
  
                <div class="card-header">
  
                    <span class="friends">
                        <h5 style="color: #0A66C2;">Friend Requests</h5>
                    </span>
  
                </div>
                <div class="card-body p-1" style="padding: 1px;">
  
                    <div *ngIf="requestList.length==0" class="p-1">No Pending Requests.</div>
  
                    <div class="card col-sm-12 mb-1 p-1 mycard rounded-pill" *ngFor="let user of requestList">
                        <div class="card-body d-flex align-items-center justify-content-between gap-2 p-1"
                            style="padding: 1px; margin-left: 5px;">
                            <div class="d-flex align-items-center" data-bs-toggle="modal"
                                data-bs-target="#profileModal" (click)="dataToModel(user)" style="cursor: pointer;">
                                <img class="icon-dp rounded-circle" height="20" width="20" style="height: 40px;
                            width: 40px;" [src]="user.image" alt="not available">
                                <p class="fw-bolder m-2">{{user.firstName}} {{user.lastName}}</p>
                            </div>
                            <div>
                                <div class="d-flex justify-content-around" style="padding: 1px;">
                                    <a (click)="acceptReq(user.email)" class=" col-sm-3 "><i
                                            class="bi bi-check-circle btn-size"
                                            style=" color: rgb(55, 209, 55);"></i></a>
                                    <a (click)="rejectReq(user.email)" class=" col-sm-3 "><i
                                            class="bi bi-x-circle btn-size"
                                            style="color: rgb(213, 76, 52);"></i></a>
  
                                </div>
                            </div>
                        </div>
  
  
                    </div>
  
  
  
  
  
                </div>
  
  
  
            </div>
        </div>
        <br>
  
  
    </div>
  
  
    </div>
  
    <!-- <profile></profile> -->
  
  
  
  
  
  
  </div>
  
  <app-profilemodal [user]="userdata"></app-profilemodal>